{
  "parser": "babel-eslint",
  "extends": ["react-app", "airbnb", "prettier"],
  "plugins": ["react", "prettier"],
  "rules": {
    "prettier/prettier": [1],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-underscore-dangle": [0],
    "import/no-unresolved": [0],
    "no-unused-vars": [1],
    "react/prop-types": [1],
    "no-shadow": [0],
    "no-restricted-syntax": [0],
    "consistent-return": [0],
    "import/prefer-default-export": [0],
    "import/no-cycle": [0],
    "quotes": [1, "single"],
    "react/no-array-index-key": [1]
  },
  "settings": {
    "import/resolver": { "babel-module": {} }
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "env": {
    "browser": true,
    "jest": true
  }
}
